

    <tbody>
        <h1>User Info</h1>
        <% @post_images.each do |post_images| %>

        <tr>
            <td>
              <strong>name</strong>
              <%= @users.name %>
            </td>
        </tr>

        <tr>
            <td>
              <strong>introduction</strong>
              <%= @users.introduction %>
            </td>
        </tr>

        <h1>New Book</h1>
            <p>Title</p>
            <%= form_with model: @users do |f| %>
            <%= f.text_field :title %>

            <p>Opinion</p>
            <%= f.text_area :body %>
            <% end %>

            <%= link_to 'Create Book', book_path %>

    </tbody>