<script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="pt-3">
            <h2>User Info</h2>
            
            </div>
            <p><%= image_tag @user.get_profile_image(100,100)  %></p>

            <table class="table">
            <tbody>
                <tr>
                    <th scope="row">name</th>
                    <th><%= @user.name %></th>
                </tr>
                <tr>
                    <th scope="row">introduction</th>
                    <th><%= @user.introduction %></th>
                </tr>
            </tbody>
            </table>

            <%= link_to edit_user_path(@user), class: 'btn btn-outline-secondary btn-block edit_user_133688' do %>
            <i class="fa-solid fa-user-gear"></i>
            <% end %>

            <div class="pt-3">
            <h2>New book</h2>
            </div>
            <%= form_with model: @book do |f| %>
             <p>Title</p>
             <%= f.text_field :title %>

              <p>Opinion</p>
              <%= f.text_area :body %>

              <%= f.submit 'Create Book', class: "btn btn-success" %>
            <% end %>
        </div>

        <div class="col-md-9">
            <h3>Books</h3>

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col"><p class="font-weight-bold">Title</p></th>
                    <th scope="col"><p class="font-weight-bold">Opinion</p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td scope="col">
                        <%= link_to image_tag(@user.get_profile_image(100, 100)), user_path %>
                        <br>
                        <%= link_to @user.name, user_path %>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


