
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="col-12">
            <div class="pt-3">
            <h1>Editing Book</h1>
            </div>

            <% if @book.errors.any? %>
                <i class="h3">
                <%= @book.errors.count %>errors prohibited this obj from being saved:
                </i>
                <ul>
                    <% @book.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            <% end %>

            <p>Title</p>
            <%= form_with model: @book, method: :patch do |f| %>
            <%= f.text_field :title %>

            <p>Opinion</p>
            <div class="px-50">
            <%= f.text_area :body %>
            </div>

            <div class="pt-2">
            <%= f.submit 'Update Book', class: "btn btn-success" %>
            </div>

            <div class="pt-3">
            <p><%= link_to 'Show', book_path %> | <%= link_to 'Back', books_path %></p>
            </div>

            <% end %>
            <div class="pt-5">
            CopyRight Infratop.inc
            </div>
            </div>
        </div>
    </div>
</div>
