<script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>User Info</h1>
            <p><%= image_tag @user.get_profile_image(100,100) %></p>

            <table class="table">
            <thead>
                <tr>
                    <th scope="row">name</th>
                    <th><%= @user.name %></th>
            </head>
            </table>
            <table class="table">
            <tbody>
                <tr>
                    <td scope="row">introduction</td>
                    <td><%= @user.introduction %></td>
                </tr>
            </tbody>
            </table>

            <%= link_to "users_edit_path",class: 'btn btn-outline-secondary btn-block edit_user_133688' do %>
            <i class="fa-solid fa-user-gear"></i>
            <% end %>

             <h2>New Book</h2>
            <%= form_with model: @user do |f| %>
             <p>Title</p>
             <%= f.text_field :title %>

              <p>Opinion</p>
              <%= f.text_area :body %>

              <button type="button" class="btn btn-success"><%= f.submit 'Create Book' %></button>
            <% end %>
        </div>

        <div class="col-md-9">
            <h3>Books</h3>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><p class="font-weight-bold">Title</p></th>
                    <th scope="col"><p class="font-weight-bold">Opinion</p></th>
                </tr>
                </thead>
                <br>
                <br>
                <tbody>
                <tr>
                    <td scope="col">
                        <%= image_tag @user.get_profile_image(100, 100) %>
                        <% @book.each do |book| %>
                        <% end %>
                    </td>
                    <td scope="col">
                        <%= @user.name %>
                        <% @users.name do |user| %>
                        <% end %>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>


