<script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>User Info</h1>
            <p><%= image_tag @user.get_profile_image(100,100) %></p>

            <%= link_to edit_user_path, class: 'btn btn-outline-secondary btn-block edit_user_133688' do %>
            <i class="fa-solid fa-user-gear"></i>
            <% end %>

            <h2>New Book</h2>
            <%= form_with model: @book_new do |f| %>
            <p>Title</p>
            <%= f.text_field :title %>

            <p>Opinion</p>
            <%= f.text_area :body %>

            <%= f.submit 'Create Book', class: "btn btn-success" %>
            <% end %>
        </div>

        <div class="col-md-9">
            <h3>Book detail</h3>

            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">
                        <%= image_tag @user.get_profile_image(100, 100) %>
                        <br>
                        <%= link_to @user.name, user_path %>
                        </td>

                        <td scope="col">
                        <%= link_to @book.title, book_path %>
                        </td>

                        <td scope="col">
                        <%= @book.body %>
                        </td>

                        <td scope="col">
                        <%= link_to 'Edit', edit_book_path, class: "btn btn-success" %>
                        </td>

                        <td scope="col">
                        <%= link_to 'Destroy', books_path, class: "btn btn-danger" %>
                        </td>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
</div>


