
<script src="https://kit.fontawesome.com/2ff29df84d.js" crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>User Info</h1>

            <div class="table">
            <tbody>
                <tr>
                    <td><strong>name</strong></td>
                    <td><strong><%= @user.name %></strong></td>
            </tbody>
            </div>

            <div class="table">
            <tbody>
                <tr>
                    <td><strong>introduction</strong></td>
                    <td><strong><%= @user.introduction %></strong></td>
                </tr>
            </tbody>
            </div>

            <%= link_to "edit_user_path",class: 'btn btn-outline-secondary btn-block edit_user_133688' do %>
            <i class="fa-solid fa-user-gear"></i>
            <% end %>

             <h1>New Book</h1>
            <p>Title</p>
            <%= form_with model: @book_new do |f| %>

            <%= f.text_field :title %>
            <p>Opinion</p>
            <%= f.text_area :body %>

            <% end %>

            <%= link_to 'Create Book', book_path %>
        </div>

        <div class="col-md-8 offset-md-1">
            <h1>Books</h1>

        </div>

    </div>
</div>