
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>User Info</h1>
            <p><%= image_tag @user.get_profile_image(100,100) %></p>

            <table class="table">
            <tbody>
                <tr>
                    <th scope="row">name</th>
                    <th><%= @user.name %></th>
                </tr>
                <tr>
                    <th scope="row">introduction</th>
                    <th><%= @user.introduction %></th>
                </tr>
            </tbody>
            </table>

            <%= link_to edit_user_path(@user), class: 'btn btn-outline-secondary btn-block edit_user_133688' do %>
            <i class="fas fa-user-cog"></i>
            <% end %>

            <h2>New book</h2>
            <%= form_with model: @book_new do |f| %>
            <p>Title</p>
            <%= f.text_field :title %>

            <p>Opinion</p>
            <%= f.text_area :body %>

            <%= f.submit 'Create Book', class: "btn btn-success" %>
            <% end %>
        </div>

        <div class="col-md-8 offset-md-1">
            <h3>Book detail</h3>

            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">
                        <%= link_to image_tag(@user.get_profile_image(100, 100)), user_path %>
                        <br>
                        <%= link_to @user.name, user_path %>
                        </td>

                        <td scope="col">
                        <%= link_to @book.title, book_path %>
                        </td>

                        <td scope="col">
                        <%= @book.body %>
                        </td>

                        <td scope="col">
                        <% if @user == current_user %>
                        <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success" %>
                        <% end %>
                        </td>

                        <td scope="col">
                        <% if @user == current_user %>
                        <%= link_to 'Destroy', book_path(@book), method: :delete, class: "btn btn-danger" %>
                        <% end %>
                        </td>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
</div>


